@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', sans-serif;
  /*background: #ee0979;*/
  /*background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);*/
  /*background: linear-gradient(to left, #ff6a00, #ee0979);*/
  background: #00b09b;
  background: -webkit-linear-gradient(to left, #96c93d, #00b09b);
  background: linear-gradient(to left, #96c93d, #00b09b);
  color: white;
}

.container {
  width: 80vw;
  margin: 0 auto;
}
.logo {
  font-size: 2em;
  font-weight: 700;
}